pipeline/CustomSIL_OBAW_POValue_fact_check.json
{
	"name": "CustomSIL_OBAW_POValue_fact_check",
	"properties": {
		"activities": [
			{
				"name": "CustomSDE_OBAW_LoadControlIns",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "child1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_CustomSIL_OBAW_LoadControlIns_test]",
						"storedProcedureParameters": {
							"FOLDER_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FOLDER_NAME",
									"type": "Expression"
								}
							},
							"OUT_PARAMETER": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.OUT_PARAMETER",
									"type": "Expression"
								}
							},
							"OUT_STEP_KEY": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.OUT_STEP_KEY",
									"type": "Expression"
								}
							},
							"WORKFLOW_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.WORKFLOW_NAME",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CustomSDE_OBAW_LoadControlIns_OUT_PARAMETER",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CustomSDE_OBAW_LoadControlIns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_variable_param",
					"value": {
						"value": "@activity('CustomSDE_OBAW_LoadControlIns').output.firstRow.OUT_PARAMETER",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CustomSDE_OBAW_LoadControlIns_OUT_STEP_KEY",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CustomSDE_OBAW_LoadControlIns_OUT_PARAMETER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_variable_param_step",
					"value": {
						"value": "@activity('CustomSDE_OBAW_LoadControlIns').output.firstRow.OUT_STEP_KEY",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CustomSIL_OBAW_JobControlIns",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Child2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_CustomSIL_OBAW_JobControlIns]",
					"storedProcedureParameters": {
						"STEP_KEY": {
							"value": {
								"value": "@variables('set_variable_param_step')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "synapselink",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CustomSIL_OBAW_POValue_fact",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CustomSIL_OBAW_JobControlIns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vidhyarajan95@gmail.com/default/povaluefact",
					"baseParameters": {
						"ETL_PROC_WID": {
							"value": "@pipeline().parameters.ETL_PROC_WID",
							"type": "Expression"
						},
						"INITIAL_EXTRACT_DATE": {
							"value": "@pipeline().parameters.INITIAL_EXTRACT_DATE",
							"type": "Expression"
						},
						"LAST_EXTRACT_DATE": {
							"value": "@pipeline().parameters.LAST_EXTRACT_DATE",
							"type": "Expression"
						},
						"M_FAILURE_VAR": {
							"value": "@pipeline().parameters.M_FAILURE_VAR",
							"type": "Expression"
						},
						"M_SUCCESS_VAR": {
							"value": "@pipeline().parameters.M_SUCCESS_VAR",
							"type": "Expression"
						},
						"STEP_KEY": {
							"value": "@{string(variables('set_variable_param_step'))}",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CustomSIL_OBAW_JobLoadControlUpd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CustomSIL_OBAW_POValue_fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_CustomSIL_OBAW_JobLoadControlUpd]",
					"storedProcedureParameters": {
						"FAILURE": {
							"value": {
								"value": "@pipeline().parameters.FAILURE",
								"type": "Expression"
							},
							"type": "String"
						},
						"STEP_KEY": {
							"value": {
								"value": "@variables('set_variable_param_step')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SUCCESS": {
							"value": {
								"value": "@pipeline().parameters.SUCCESS",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "synapselink",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CustomSIL_OBAW_ConfigControlSetupUpd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CustomSIL_OBAW_POValue_fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ConfigControl_SetInactive]",
					"storedProcedureParameters": {
						"WorkflowName": {
							"value": {
								"value": "@pipeline().parameters.WorkflowName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "synapselink",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CustomSDE_OBAW_ConfigControlSetup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_ConfigControl_SetActive]",
						"storedProcedureParameters": {
							"WorkflowName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.WorkflowName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetVar_NewParameterText",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CustomSDE_OBAW_ConfigControlSetup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_NewParameterText",
					"value": {
						"value": "@activity('CustomSDE_OBAW_ConfigControlSetup').output.firstRow.OUT_PARAMETER",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lkp_ReadExistingParameterFile",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetVar_NewParameterText",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dataset1",
						"type": "DatasetReference",
						"parameters": {
							"p_filename": {
								"value": "@pipeline().parameters.p_FileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_ExistingParameterLines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_ReadExistingParameterFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_ReadExistingParameterFile').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append_data",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_ParameterLines",
								"value": {
									"value": "@item().Prop_0",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "AppendVar_NewParameter",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "ForEach_ExistingParameterLines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_ParameterLines",
					"value": {
						"value": "@variables('v_NewParameterText')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVar_FinalParameterContent",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AppendVar_NewParameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_FinalParameterContent",
					"value": {
						"value": "@join(\n    variables('v_ParameterLines'),\n    decodeUriComponent('%0A')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "child1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SetVar_FinalParameterContent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_param_file",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_StorageAccount": {
							"value": "@pipeline().parameters.p_StorageAccount",
							"type": "Expression"
						},
						"p_FileSystem": {
							"value": "@pipeline().parameters.p_FileSystem",
							"type": "Expression"
						},
						"p_Directory": {
							"value": "@pipeline().parameters.p_Directory",
							"type": "Expression"
						},
						"p_FileName": {
							"value": "@pipeline().parameters.p_FileName",
							"type": "Expression"
						},
						"p_FileContent": {
							"value": "@variables('v_FinalParameterContent')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Out_param_Append_variable",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "CustomSDE_OBAW_LoadControlIns_OUT_STEP_KEY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_param_text",
					"value": {
						"value": "@variables('job_variable_param')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Final_varaible_Param2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Out_param_Append_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_param2",
					"value": {
						"value": "@join(\n    variables('v_param_text'),\n    decodeUriComponent('%0A')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Child2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Final_varaible_Param2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_param_file",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_StorageAccount": {
							"value": "@pipeline().parameters.p_StorageAccount",
							"type": "Expression"
						},
						"p_FileSystem": {
							"value": "@pipeline().parameters.p_FileSystem",
							"type": "Expression"
						},
						"p_Directory": {
							"value": "@pipeline().parameters.p_Directory",
							"type": "Expression"
						},
						"p_FileName": {
							"value": "@pipeline().parameters.p_FileName",
							"type": "Expression"
						},
						"p_FileContent": {
							"value": "@variables('final_param2')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"WORKFLOW_NAME": {
				"type": "string",
				"defaultValue": "CustomSIL_OBAW_POValue_fact"
			},
			"FOLDER_NAME": {
				"type": "string",
				"defaultValue": "''"
			},
			"OUT_PARAMETER": {
				"type": "string",
				"defaultValue": "''"
			},
			"OUT_STEP_KEY": {
				"type": "int",
				"defaultValue": 0
			},
			"ETL_PROC_WID": {
				"type": "string",
				"defaultValue": "0"
			},
			"INITIAL_EXTRACT_DATE": {
				"type": "string",
				"defaultValue": "01/01/1952"
			},
			"LAST_EXTRACT_DATE": {
				"type": "string",
				"defaultValue": "01/01/1953"
			},
			"M_FAILURE_VAR": {
				"type": "string",
				"defaultValue": "'FAILED'"
			},
			"M_SUCCESS_VAR": {
				"type": "string",
				"defaultValue": "'SUCCEEDED'"
			},
			"FAILURE": {
				"type": "string",
				"defaultValue": "''"
			},
			"SUCCESS": {
				"type": "string",
				"defaultValue": "'SUCCEEDED'"
			},
			"WorkflowName": {
				"type": "string",
				"defaultValue": "CustomSIL_OBAW_POValue_fact"
			},
			"p_StorageAccount": {
				"type": "string",
				"defaultValue": "nrdatalakepoc"
			},
			"p_FileSystem": {
				"type": "string",
				"defaultValue": "nrdata"
			},
			"p_Directory": {
				"type": "string",
				"defaultValue": "files"
			},
			"p_FileName": {
				"type": "string",
				"defaultValue": "parameter"
			},
			"p_FileContent": {
				"type": "string"
			}
		},
		"variables": {
			"set_variable_param_step": {
				"type": "Integer"
			},
			"job_variable_param": {
				"type": "String"
			},
			"v_NewParameterText": {
				"type": "String"
			},
			"v_ParameterLines": {
				"type": "Array"
			},
			"v_FinalParameterContent": {
				"type": "String"
			},
			"v_param_text": {
				"type": "Array"
			},
			"final_param2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-17T06:59:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}