pipeline/custom_SIL_povaluefact1.json
{
	"name": "custom_SIL_povaluefact1",
	"properties": {
		"activities": [
			{
				"name": "LoadControl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_CustomSIL_OBAW_LoadControlIns_test]",
						"storedProcedureParameters": {
							"FOLDER_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FOLDER_NAME",
									"type": "Expression"
								}
							},
							"OUT_PARAMETER": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.OUT_PARAMETER",
									"type": "Expression"
								}
							},
							"OUT_STEP_KEY": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.OUT_STEP_KEY",
									"type": "Expression"
								}
							},
							"WORKFLOW_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.WORKFLOW_NAME",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LoadControl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_variable_param",
					"value": {
						"value": "@activity('LoadControl').output.firstRow.OUT_PARAMETER",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_variable_param_step",
					"value": {
						"value": "@activity('LoadControl').output.firstRow.OUT_STEP_KEY",
						"type": "Expression"
					}
				}
			},
			{
				"name": "JobControl",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_CustomSIL_OBAW_JobControlIns]",
					"storedProcedureParameters": {
						"STEP_KEY": {
							"value": {
								"value": "@variables('set_variable_param_step')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "synapselink",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PoValueFact",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "JobControl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vidhyarajan95@gmail.com/default/povaluefact",
					"baseParameters": {
						"ETL_PROC_WID": {
							"value": "@pipeline().parameters.ETL_PROC_WID",
							"type": "Expression"
						},
						"INITIAL_EXTRACT_DATE": {
							"value": "@pipeline().parameters.INITIAL_EXTRACT_DATE",
							"type": "Expression"
						},
						"LAST_EXTRACT_DATE": {
							"value": "@pipeline().parameters.LAST_EXTRACT_DATE",
							"type": "Expression"
						},
						"M_FAILURE_VAR": {
							"value": "@pipeline().parameters.M_FAILURE_VAR",
							"type": "Expression"
						},
						"M_SUCCESS_VAR": {
							"value": "@pipeline().parameters.M_SUCCESS_VAR",
							"type": "Expression"
						},
						"STEP_KEY": {
							"value": "@{string(variables('set_variable_param_step'))}",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "JobLoadCotrlUpd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PoValueFact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_CustomSIL_OBAW_JobLoadControlUpd]",
					"storedProcedureParameters": {
						"FAILURE": {
							"value": {
								"value": "@pipeline().parameters.FAILURE",
								"type": "Expression"
							},
							"type": "String"
						},
						"STEP_KEY": {
							"value": {
								"value": "@variables('set_variable_param_step')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SUCCESS": {
							"value": {
								"value": "@pipeline().parameters.SUCCESS",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "synapselink",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ConfCntrlSetUpd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PoValueFact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ConfigControl_SetInactive]",
					"storedProcedureParameters": {
						"WorkflowName": {
							"value": {
								"value": "@pipeline().parameters.WorkflowName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "synapselink",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"WORKFLOW_NAME": {
				"type": "string",
				"defaultValue": "CustomSIL_OBAW_POValue_fact"
			},
			"FOLDER_NAME": {
				"type": "string",
				"defaultValue": "''"
			},
			"OUT_PARAMETER": {
				"type": "string",
				"defaultValue": "''"
			},
			"OUT_STEP_KEY": {
				"type": "int",
				"defaultValue": 0
			},
			"ETL_PROC_WID": {
				"type": "string",
				"defaultValue": "0"
			},
			"INITIAL_EXTRACT_DATE": {
				"type": "string",
				"defaultValue": "01/01/1952"
			},
			"LAST_EXTRACT_DATE": {
				"type": "string",
				"defaultValue": "01/01/1953"
			},
			"M_FAILURE_VAR": {
				"type": "string",
				"defaultValue": "'FAILED'"
			},
			"M_SUCCESS_VAR": {
				"type": "string",
				"defaultValue": "'SUCCEEDED'"
			},
			"FAILURE": {
				"type": "string",
				"defaultValue": "''"
			},
			"SUCCESS": {
				"type": "string",
				"defaultValue": "'SUCCEEDED'"
			},
			"WorkflowName": {
				"type": "string",
				"defaultValue": "CustomSIL_OBAW_POValue_fact"
			}
		},
		"variables": {
			"set_variable_param_step": {
				"type": "Integer"
			},
			"job_variable_param": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-16T05:47:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}