pipeline/flow_1.json
{
	"name": "flow_1",
	"properties": {
		"activities": [
			{
				"name": "ConfContrl_setup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_out_arg_test2]",
						"storedProcedureParameters": {
							"WorkflowName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.WorkflowName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Settting_variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ConfContrl_setup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Variable_parameter",
					"value": {
						"value": "@activity('ConfContrl_setup').output.firstRow.paramater",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Reading_existing_file",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Settting_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"p_FileName": {
								"value": "@pipeline().parameters.p_FileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Reading_existing_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Reading_existing_file').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "appending_param",
								"value": {
									"value": "@item().Prop_0",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set_final_variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "appen_new_param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_param",
					"value": {
						"value": "@join(\n    variables('append_var'),\n    decodeUriComponent('%0A')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "appen_new_param",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "append_var",
					"value": {
						"value": "@variables('Variable_parameter')\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"WorkflowName": {
				"type": "string",
				"defaultValue": "CustomSIL_OBAW_POValue_fact"
			},
			"p_FileName": {
				"type": "string"
			}
		},
		"variables": {
			"Variable_parameter": {
				"type": "String"
			},
			"appending_param": {
				"type": "String"
			},
			"appen_new_param": {
				"type": "String"
			},
			"append_var": {
				"type": "Array"
			},
			"final_param": {
				"type": "String"
			},
			"appending_param1": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-17T06:59:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}